/* reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* custom properties */

:root {
  --clr-primary-100: #ffffff;
  --clr-primary-400: #2bfe50;
  --clr-secondary-800: #212327;

  --fw-regular: 300;

  --nav-item-size: 6em;
}

/* utility classes */

.flex-group {
  display: flex;
  justify-content: space-evenly;
}

/* styling */

body {
  font-family: 'Poppins', sans-serif;
  font-weight: var(--fw-regular);
  font-size: 1rem;
  color: var(--clr-secondary-800);
  background: var(--clr-secondary-800);

  display: grid;
  place-content: center;
}

.nav__bar {
  background: var(--clr-primary-100);
  border-radius: 10px;
  padding: 0 20px;
}

.nav__list {
  list-style: none;

  height: var(--nav-item-size);
  
  position: relative;
}

.nav__item {
  width: var(--nav-item-size);
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav__indicator {
  background: var(--clr-primary-400);
  border-radius: 50%;
  transition: left 0.5s;

  width: var(--nav-item-size);
  height: var(--nav-item-size);

  position: absolute;
  transform: translateY(-50%);
}

.nav__text {
  opacity: 0; 
  transition: transform 0.5s;

  position: absolute;
  transform: translateY(30px);
}

.nav__icon {
  font-size: 1.5rem;
  transition: transform 0.5s;
}

.nav__item[active] .nav__icon {
  transform: translateY(-44px);
}

.nav__item[active] .nav__text {
  opacity: 1; 

  transform: translateY(20px);
}

.nav__item[active]:nth-child(1) ~ .nav__indicator{
  left: 0;
}

.nav__item[active]:nth-child(2) ~ .nav__indicator{
  left: calc(var(--nav-item-size) * 1);
}

.nav__item[active]:nth-child(3) ~ .nav__indicator{
  left: calc(var(--nav-item-size) * 2);
}

.nav__item[active]:nth-child(4) ~ .nav__indicator{
  left: calc(var(--nav-item-size) * 3);
}

.nav__item[active]:nth-child(5) ~ .nav__indicator{
  left: calc(var(--nav-item-size) * 4);
}